<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <!--
    The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!--
    The views will be rendered in the <ion-nav-view> directive below
    Templates are in the /templates folder (but you could also
    have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-content class="side-menu-left">
      <ion-list>
        <ion-item class="item-positive item-avatar-left" href="#" menu-close>
          <img data-ng-src="{{selected_image_url}}" height="50" width="50" >
          <div class="h4 title">{{selectedName}}</div>
        </ion-item>

        <ion-item class="item-divider">Baby Profiles<span class="item-note">{{available}}</span></ion-item>

        <ion-item class="item-avatar-left" href="#" menu-close ng-repeat="name in BabyNames track by $index" ng-click="selectName(name, BabyImg[$index])">
          <img data-ng-src="{{BabyImg[$index]}}" height="50" width="50" >
          {{name}}
        </ion-item>

        <ion-item menu-close ng-click="goAccountInformation()">Accounts Information</ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
