<ion-view view-title="Events">
  <ion-content>
    <ion-slide-box>
      <ion-slide>
        <div class="card">
          <ion-item class="item-divider">Event A</ion-item>
          <ion-item class="item-text-wrap">This event is held in conjunction with.....</ion-item>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card">
          <ion-item class="item-divider">Event B</ion-item>
          <ion-item class="item-text-wrap">This event is held in conjunction with.....</ion-item>
        </div>
      </ion-slide>
    </ion-slide-box>
    </ion-content>
</ion-view>
